@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oleo+Script:wght@400;700&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-img{
    width: 100px;
    overflow: hidden;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-links{
    display: flex;
    gap: 3rem;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
}

/* Aula começa aqui hoje no dia 08/11/2024 */

.home-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 82vh;
    background-image: url("https://wallpaperaccess.com/full/1230653.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Caveat", cursive;

}
.home-content h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
    max-width: 300px;
    font-size: 3rem;
}
.home-content h1 span{
    color: rgb(250, 100, 130);
}
.home-content button{
    margin-top: 30px;
    font-family: "Caveat", cursive;
    background-color: white;
    color: rgb(250, 100, 130);
    border-color: rgb(250, 100, 130);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    /* animação */
    transition: all 0.5s ease-in-out;
}
/* animação */

.home-content button:hover{
    background-color: rgb(250, 100, 130);
    color: white;
    cursor: pointer;
}
.second-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    gap: 2rem;
}

.second-content-img{
    width: 550px;
    overflow: hidden;
}


.second-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-content-text{
    font-size: 1.25rem;
    max-width: 300px;
}

.cardapiopart1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cardapiopart1 .cardapio-img{
    width: 300px;
}

.cardapio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardapio-title{
    font-size: 60px;
    color: red;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cardapiopart2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-img{
    max-width: 200px;
    max-height: 300px;
    border: solid 2px red;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-txt p{
    font-size: 20px;
    color: red;
    margin-top: 5px;
}

.cardapio-card{
    margin-top: 40px;
}

.card-txt{
    margin-top: 10px;
    max-width: 200px;
}